/* Table of contents

  1. To top button
  2. Carousel
  3. Contact Form
  4. Loader
  5. Comment Form

*/

/* To top button */

.to-top-btn {
  background-color: var(--clr-pink);
  position: fixed;
  bottom: 100px;
  right: 32px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  pointer-events: none;
  opacity: 0;
  transition: all .4s;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}

.to-top-btn.active {
  bottom: 200px;
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 84em){
  .to-top-btn {
    right: 0;
  }

  .to-top-btn.active {
    bottom: 70px;
  }
}

/* Carousel */

.latest {
  color: var(--clr-white);
  margin: 1.5em 0 0.4em 0.4em;
}

.wrapper,
.header-container {
  max-width: 76rem;
  width: 100%;
  position: relative;
  margin: auto;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 1);
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  padding: 0;
}

.card {
  position: relative;
}

.carousel-img-container {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.carousel-image {
  object-fit: cover;
  height: 500px;
  width: 76rem;
}

.carousel-img-tag {
  position: absolute;
  top: 45%;
  left: 5%;
  padding: 0.8em 1.6em;
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.carousel-info-container {
  background-color: var(--clr-grey);
  color: var(--clr-white);
  height: 260px;
  margin-bottom: 10em;
}

.info-content {
  display: flex;
  flex-direction: column;
  width: 56em;
  margin: auto;
  gap: 1em;
  color: var(--clr-white);
}

.carousel-h2 {
  font-size: 3rem;
  margin-top: 1em;
}

.carousel-date {
  margin-top: 1.7em;
}

.wrapper i {
  height: 50px;
  width: 50px;
  color: var(--clr-blue);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -35px;
} 

.wrapper i:last-child {
  right: -54px;
}

.dot-flex {
  display: flex;
  justify-content: space-between;
}

.wavy {
  margin-top: 25px;
  object-fit: contain;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

@media (max-width: 87.5em){
  .wrapper,
  .header-container {
    max-width: 70em;
  }

  .carousel-image {
    width: 70em;
  }

  .card {
    width: 70em;
  }
}

@media (max-width: 80em){
  .wrapper,
  .header-container {
    max-width: 60em;
  }

  .carousel-image {
    width: 60em;
    height: 450px;
  }

  .card {
    width: 60em;
  }
}

@media (max-width: 67.5em){
  .wrapper,
  .header-container {
    max-width: 50em;
  }

  .carousel-image {
    width: 50em;
    height: 400px;
  }

  .carousel-img-tag {
    top: 40%;
    left: 8%;
  }

  .card {
    width: 50em;
  }

  .carousel-h2 {
    font-size: 2rem;
    margin: 1em 0 0.5em 2em;
  }

  .carousel-p, 
  .carousel-date {
    margin-left: 4.1em;
  }

  .dot-flex {
    width: 43em;
  }
}

@media (max-width: 57.5em){
  .wrapper,
  .header-container {
    max-width: 40em;
  }

  .carousel-image {
    width: 40em;
  }

  .carousel-img-tag {
    top: 41%;
  }

  .card {
    width: 40em;
  }

  .dot-flex {
    width: 33em;
  }
}

@media (max-width: 47.5em){
  .wrapper,
  .header-container {
    max-width: 30em;
  }

  .carousel-image {
    width: 30em;
    height: 350px;
  }

  .card {
    width: 30em;
  }

  .dot-flex {
    width: 23em;
  }

  .carousel-img-tag {
    top: 38%;
    padding: 0.5em 1.2em;
  }

  .carousel-h2 {
    font-size: 1.3rem;
  }

  .carousel-p, 
  .carousel-date, .carousel-h2 {
    margin:0.8em 0 0 1em;
  }

  .info-content {
    padding: 1em 0 0.5em 0;
    width: 25em;
    justify-content: space-between;
    height: 250px;
  }
}

@media (max-width: 37em){
  .wrapper,
  .header-container {
    max-width: 23em;
  }

  .carousel-info-container {
    margin-bottom: 5em;
  }

  .carousel-image {
    width: 23em;
    height: 350px;
  }

  .card {
    width: 23em;
  }

  .dot-flex {
    width: 16em;
    align-items: baseline;
  }

  .wavy {
    width: 3em;
  }

  .carousel-img-tag {
    padding: 0.5em 1.2em;
    top: 43%;
  }

  .carousel-h2 {
    font-size: 1.2rem;
    width: 15em;
    margin: 0.5em 0;
  }

  .carousel-p,
  .carousel-date {
    font-size: 0.9rem;
  }

  .carousel-p, 
  .carousel-date {
    margin:0.8em 0 0 0;
    width: 20em;
  }

  .info-content {
    padding: 1em 0 0.5em 2.7em;
  }

  .wrapper i:first-child {
    left: -26px;
  } 
  
  .wrapper i:last-child {
    right: -45px;
  }
}

@media (max-width: 28em){
  .wrapper,
  .header-container {
    max-width: 20em;
  }

  .carousel-image {
    width: 20em;
    height: 330px;
  }

  .card {
    width: 20em;
  }

  .dot-flex {
    width: 14em;
  }

  .wavy {
    width: 3em;
  }

  .carousel-img-tag {
    top: 40%;
  }

  .carousel-h2 {
    font-size: 1.1rem;
    width: 15em;
    margin: 0.5em 0;
  }

  .carousel-p, 
  .carousel-date {
    margin:0.3em 0 0 0;
    width: 15em;
  }

  .info-content {
    padding: 1em 0 0.5em 2.3em;
  }

  .wrapper i:first-child {
    left: -26px;
  } 
  
  .wrapper i:last-child {
    right: -45px;
  }

  .wrapper i {
    width: 30px;
    top: 42%;
    z-index: 5;
  }
  
  .wrapper i:first-child {
    left: -16px;
  } 
  
  .wrapper i:last-child {
    right: -15px;
  }
}

/* Contact Form */

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40em;
}

.contact-form {
  margin: 60px auto 180px;
  width: 40em;
}

.contact-form input,
.contact-form textarea {
  width: 40em;
  padding-left: 8px;
}

.contact-form input {
  height: 42px;
  margin-bottom: 12px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form label {
  color: var(--clr-white);
}

.error {
  color: var(--clr-error);
  display: none;
}

.successMessage {
  color: var(--clr-success);
  display: none;
}

.send-btn {
  background-color: var(--clr-blue);
  border: none;
  cursor: pointer;
  border-radius: none;
  -webkit-border-radius: 0;
}

.send-btn:focus,
.send-btn:active {
  outline: none;
}


.send-btn:hover {
  background-color: var(--clr-bluehover);
}

@media (max-width: 45.625em) {
  .form-flex,
  .contact-form,
  .contact-form input,
  .contact-form textarea {
    width: 30em;
  }
}

@media (max-width: 34em) {
  .form-flex,
  .contact-form,
  .contact-form input,
  .contact-form textarea {
    width: 22em;
  }
}

/* Loader */

.loader {
  display: none;
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--clr-green);
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}


/* Comment Form */

.comment-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  max-width: 36rem;
  margin: 0 auto 60px;
}

.write-h3,
.comment-h3 {
  color: var(--clr-white);
  font-size: 1.5rem;
  align-self: baseline;
  margin-bottom: 20px;
}

.comment-form {
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
}

.comment-section label {
  margin-bottom: 20px;
}

.comment-form input, 
.comment-form textarea {
  width: 36rem;
  margin-bottom: 30px;
  padding: 10px;
}

.comment-btn {
  border: none;
  background-color: var(--clr-yellow);
  padding: .7rem 2rem;
  cursor: pointer;
}

.comment-btn:hover {
  background-color: var(--clr-yellowhover);
}

.comment-error {
  display: none;
}

.no-comment {
  color: var(--clr-white);
  align-self: center;
  margin-top: 160px;
  font-size: 1.2rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 36rem;
  background-color: var(--clr-grey);
  margin-bottom: 70px;
  color: var(--clr-white);
}

.comment-name {
  font-size: 1.2rem;
  padding: 1rem 0 0 1rem;
  color: var(--clr-yellow);
}

.comment-content {
  padding: 0 0 .5rem 1rem;
  position: relative;
}

.name-container {
  display: flex;
}

.comment-date {
  font-size: .9rem;
  color: var(--clr-yellow);
  padding: 1.26rem 0 0 .7rem;
}


