/* Table of contents

  1. To top button
  2. Carousel

*/

/* To top button */

.to-top-btn {
  background-color: var(--clr-pink);
  position: fixed;
  bottom: 100px;
  right: 32px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  pointer-events: none;
  opacity: 0;
  transition: all .4s;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}

.to-top-btn.active {
  bottom: 200px;
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 84em){
  .to-top-btn {
    right: 0;
  }

  .to-top-btn.active {
    bottom: 70px;
  }
}

/* Carousel */

.wrapper {
  max-width: 76em;
  width: 100%;
  position: relative;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 1);
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  padding: 0;
}

.carousel-img-container {
  position: relative;
}

.carousel-image {
  object-fit: cover;
  height: 500px;
  width: 76em;
}

.carousel-img-tag {
  position: absolute;
  top: 85%;
  left: 8%;
  padding: 0.8em 1.6em;
  font-weight: var(--fw-bold);
  background-color: var(--clr-pink);
}

.carousel-info-container {
  background-color: var(--clr-grey);
  color: var(--clr-white);
  height: 260px;
  margin-bottom: 10em;
}

.info-content {
  display: flex;
  flex-direction: column;
  width: 56em;
  margin: auto;
  gap: 1em;
}

.carousel-h2 {
  font-size: 3rem;
  margin-top: 1em;
}

.carousel-date {
  margin-top: 1.7em;
}

.wrapper i {
  height: 50px;
  width: 50px;
  color: var(--clr-blue);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: -35px;
} 

.wrapper i:last-child {
  right: -54px;
}

.dot-flex {
  display: flex;
  justify-content: space-between;
}

.wavy {
  margin-top: 25px;
  object-fit: contain;
  
}

.carousel.no-transition {
  scroll-behavior: auto;
}


