/* Imports */

@import url(components.css);

/* Custom Properties */

:root {
  --clr-darkgrey:#43403D;
  --clr-grey: #545352;
  --clr-white: #fff;
  --clr-yellow: #F6F193;
  --clr-blue: #65A4BA;
  --clr-green: #39C5AF;
  --clr-pink: #F1ABB9;
  --clr-black: #000;
  --clr-greenhover: #47d8c2;

  --ff-main: 'Josefin Sans', sans-serif;
  --ff-sec: 'Playfair Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background-color: var(--clr-darkgrey);
  letter-spacing: 0.11em;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--clr-grey);
  background: linear-gradient(to bottom, rgba(43, 42, 42, 0.7), rgba(78, 78, 78, 0));
  color: var(--clr-white);
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: .2s ease-in;
}

.navbar-scrolled {
  background-color: var(--clr-grey);
}

.nav-content {
  max-width: 50em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.5em 1em 0.1em;
  border-bottom: var(--clr-yellow) solid 1px;
}

.nav-content-scrolled {
  border-bottom: none;
}

.nav-ul {
  display: flex;
  gap: 3em;
  font-weight: var(--fw-regular);
}

.nav-ul li {
  color: var(--clr-white);
}

li {
  list-style: none;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 1.4rem;
}

.nav-ul .active {
  color: var(--clr-yellow);
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Media query Navbar */

@media (max-width: 870px) {
  .hamburger {
    display: block;
    padding-right: 1rem;
    margin-left: 5px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-ul {
    position: fixed;
    left: -100%; 
    top:64px;
    gap: 2px;
    flex-direction: column;
    background-color: var(--clr-green);
    width: 50%;
    text-align: left;
    transition: 0.3s;
    z-index: 55;
    padding-right: 0;
  }


}

/* Header */

main {
  max-width: 76em;
  margin: auto;
}

.main-header {
  display: flex;
  align-items: center;
  max-width: 76em;
  margin: auto;
  margin-top: 5em;
}

h1 {
  color: var(--clr-white);
  font-size: 6rem;
}

.main-header p {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  max-width: 22em;
  margin: 0 0 0 1.2em;
  line-height: 1em;
}

.latest {
  color: var(--clr-white);
  margin: 1.5em 0 0.4em 0.4em;
}

/* Trending grid */

.trending-header {
  color: var(--clr-white);
  height: 1500px;
}

/* Footer */

footer {
  background-color: var(--clr-grey);
  height: 30em;
}

.footer-content {
  max-width: 74em;
  margin: auto;
  padding-top: 3em;
}

.newsletter,
.social-flex,
.footer-nav,
.footer-nav ul {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}

.news-sub p,
.social-flex {
  color: var(--clr-white);
}

.sub-one {
  font-size: 2.25rem;
  margin-bottom: 0.2em;
  font-weight: var(--fw-bold);
}

.sub-two,
.brand {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.news-input {
  width: 26.25rem;
  height: 4.625rem;
  font-size: 1.4rem;
  padding-left: 10px;
}

.news-button {
  width: 11rem;
  height: 4.625rem;
  background-color: var(--clr-green);
  color: var(--clr-black);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.news-button:hover {
  background-color: var(--clr-greenhover);
}

.footer-social i {
  margin-right: 1em;
}

.footer-nav ul {
  gap: 1em;
  padding: 0;
}

.footer-link,
.author {
  color: var(--clr-white);
}

.footer-nav,
.newsletter {
  align-items: center;
}


