/* Imports */

@import url(components.css);

/* Custom Properties */

:root {
  --clr-darkgrey:#43403D;
  --clr-grey: #545352;
  --clr-white: #fff;
  --clr-yellow: #F6F193;
  --clr-blue: #65A4BA;
  --clr-green: #39C5AF;
  --clr-pink: #F1ABB9;
  --clr-black: #000;
  --clr-greenhover: #47d8c2;

  --ff-main: 'Josefin Sans', sans-serif;
  --ff-sec: 'Playfair Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background-color: var(--clr-darkgrey);
  letter-spacing: 0.11em;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--clr-grey);
  background: linear-gradient(to bottom, rgba(43, 42, 42, 0.7), rgba(78, 78, 78, 0));
  color: var(--clr-white);
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: .2s ease-in;
}

.navbar-scrolled {
  background-color: var(--clr-grey);
}

.nav-content {
  max-width: 50em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.5em 1em 0.1em;
  border-bottom: var(--clr-yellow) solid 1px;
}

.nav-content-scrolled {
  border-bottom: none;
}

.nav-ul {
  display: flex;
  gap: 3em;
  font-weight: var(--fw-regular);
}

.nav-ul li {
  color: var(--clr-white);
}

li {
  list-style: none;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 1.4rem;
}

.nav-ul.active {
  left: 0;
}

.nav-ul li.active {
  color: var(--clr-yellow);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--clr-white);
}

/* Media query Navbar */

@media (max-width: 54em) {

  .nav-content {
    border-bottom: none;
  }
  .nav-content::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 50%;
    width: 25%;
    border-bottom: 1px solid var(--clr-yellow);
  }

  .hamburger {
    display: block;
    padding-right: 1rem;
    margin-left: 5px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-ul {
    position: fixed;
    left: -100%; 
    top:80px;
    gap: 2em;
    flex-direction: column;
    background-color: var(--clr-grey);
    width: 50%;
    text-align: left;
    transition: 0.3s;
    z-index: 55;
    padding-right: 0;
    height: 100vh;
    padding: 1em 0 0 1em; 
  }
}

/* Header */

main {
  max-width: 76em;
  margin: auto;
}

.main-header {
  display: flex;
  align-items: center;
  max-width: 76em;
  margin: auto;
  margin-top: 8em;
}

h1 {
  color: var(--clr-white);
  font-size: 6rem;
}

.main-header p {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  max-width: 22em;
  margin: 0 0 0 1.2em;
  line-height: 1em;
}

.latest {
  color: var(--clr-white);
  margin: 1.5em 0 0.4em 0.4em;
}

.header-circles {
  z-index: -3;
  position: absolute;
  left: 80%;
}

svg {
  position: absolute;
  top: 105%;
  left: 60%;
  mix-blend-mode: difference;
  color: var(--clr-yellow);
}

@media (max-width: 81.25em){

  .main-header {
    max-width: 60em; 
  }

  h1 {
    font-size: 4.6rem;
    margin-left: 2rem;
  }

  .main-header p {
    font-size: 1.2rem;
  }
}

@media (max-width: 62em){
  .main-header {
    max-width: 44em; 
  }

  h1 {
    font-size: 3.8rem;
  }

  .main-header p {
    font-size: 1rem;
    margin-right: 1em;
  }

  .header-circles {
    width: 7rem;
  }
}

@media (max-width: 37.5em){
    
    .main-header {
      flex-direction: column;
      align-items: baseline;
      margin: 7em 0 4em 1.5em;
    }

    h1 {
      font-size: 3.4rem;
      margin-left: 0px;
    }

    .main-header p {
      font-size: 0.9rem;
    }

    .header-circles {
      width: 6.5rem;
      left: 72%;
    }
}

@media (max-width: 30em){
  .header-circles {
    width: 6.2rem;
    left: 70%;
  }
}

/* Trending grid */

.trending-header {
  color: var(--clr-white);
  height: 1500px;
}

/* Footer */

footer {
  background-color: var(--clr-grey);
  height: 30em;
}

.footer-content {
  max-width: 74em;
  margin: auto;
  padding-top: 3em;
}

.newsletter,
.social-flex,
.footer-nav,
.footer-nav ul {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}

.news-sub p,
.social-flex {
  color: var(--clr-white);
}

.sub-one {
  font-size: 2.25rem;
  margin-bottom: 0.2em;
  font-weight: var(--fw-bold);
}

.sub-two,
.brand {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.news-input {
  width: 26.25rem;
  height: 4.625rem;
  font-size: 1.4rem;
  padding-left: 10px;
  margin-bottom: 20px;
}

.news-button {
  width: 11rem;
  height: 4.625rem;
  background-color: var(--clr-green);
  color: var(--clr-black);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.news-button:hover {
  background-color: var(--clr-greenhover);
}

.footer-social i {
  margin-right: 1em;
}

.footer-nav ul {
  gap: 1em;
  padding: 0;
}

.footer-link,
.author {
  color: var(--clr-white);
}

.footer-nav,
.newsletter {
  align-items: center;
}

/* Footer Media Queries */

@media (max-width: 81em){

  .footer-content {
    max-width: 62em;
  }

  .sub-one {
    font-size: 1.75rem;
  }
  
  .sub-two,
  .brand {
    font-size: 1.3rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 24.25rem;
    height: 4.2rem;
    font-size: 1rem;
  }

  .news-button {
    height: 4.2rem;
    font-size: 1rem;
    width: 9rem;
  }

}

@media (max-width: 65.625em){

    .footer-content {
      max-width: 40em;
    }

    .newsletter {
      flex-direction: column;
    }

    .news-input {
      width: 24.25rem;
      height: 4.2rem;
      font-size: 1rem;
    }
  
    .news-button {
      height: 4.2rem;
      font-size: 1rem;
      width: 9rem;
    }
}

@media (max-width: 42em){

  .footer-content {
    max-width: 30em;
    padding-top: 2.5em;
  }

  .sub-one {
    font-size: 1.5rem;
  }
  
  .sub-two,
  .brand {
    font-size: 1.1rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 18rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .news-button {
    height: 3.5rem;
    font-size: 1rem;
    width: 7rem;
  }

}

@media (max-width: 31.25em){

  .footer-content {
    max-width: 20em;
  }

  .sub-one {
    font-size: 1.2rem;
  }
  
  .sub-two,
  .brand {
    font-size: 0.9rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 12rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .news-button {
    height: 3.5rem;
    font-size: 1rem;
    width: 7rem;
  }

  .social-flex {
    width: 18em;
    justify-content: center;
    margin: auto;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav ul {
    gap: 2.5em;
    margin: 1.3em 0 2.5em;
  }
}


