/* Imports */

@import url(components.css);

/* Custom Properties */

:root {
  --clr-darkgrey:#43403D;
  --clr-grey: #545352;
  --clr-white: #fff;
  --clr-yellow: #F6F193;
  --clr-blue: #65A4BA;
  --clr-green: #39C5AF;
  --clr-pink: #F1ABB9;
  --clr-black: #000;
  --clr-greenhover: #47d8c2;
  --clr-bluehover: #7cbdd4;
  --clr-pinkhover: #f8b5c2;
  --clr-error:#f5c2cc;
  --clr-success: #60e7d1;

  --ff-main: 'Josefin Sans', sans-serif;
  --ff-sec: 'Playfair Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  background-color: var(--clr-darkgrey);
  letter-spacing: 0.11em;
  scroll-behavior: smooth;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--clr-grey);
  background: linear-gradient(to bottom, rgba(43, 42, 42, 0.7), rgba(78, 78, 78, 0));
  color: var(--clr-white);
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: .2s ease-in;
}

.navbar-scrolled {
  background-color: var(--clr-grey);
}

.nav-content {
  max-width: 50em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1.5em 1em 0.1em;
  border-bottom: var(--clr-yellow) solid 1px;
}

.nav-content-scrolled {
  border-bottom: none;
}

.nav-ul {
  display: flex;
  gap: 3em;
  font-weight: var(--fw-regular);
}

.nav-ul li {
  color: var(--clr-white);
}

li {
  list-style: none;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 1.4rem;
}

.nav-ul.active {
  left: 0;
}

.nav-ul li.active {
  color: var(--clr-yellow);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--clr-white);
}

/* Media query Navbar */

@media (max-width: 54em) {

  .nav-content {
    border-bottom: none;
  }
  .nav-content::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 50%;
    width: 25%;
    border-bottom: 1px solid var(--clr-yellow);
  }

  .hamburger {
    display: block;
    padding-right: 1rem;
    margin-left: 5px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-ul {
    position: fixed;
    left: -100%; 
    top:80px;
    gap: 2em;
    flex-direction: column;
    background-color: var(--clr-grey);
    width: 50%;
    text-align: left;
    transition: 0.3s;
    z-index: 55;
    padding-right: 0;
    height: 100vh;
    padding: 1em 0 0 1em; 
  }
}

/* Header */

.main,
.main-header {
  max-width: 76em;
  margin: auto;
}

.main-header {
  display: flex;
  align-items: center;
  margin-top: 8em;
}

h1 {
  color: var(--clr-white);
  font-size: 6rem;
}



.main-header p {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  max-width: 22em;
  margin: 0 0 0 1.2em;
  line-height: 1em;
  align-self:auto;
}

.header-circles {
  z-index: -3;
  position: absolute;
  left: 80%;
}

svg {
  position: absolute;
  top: 200%;
  left: 0%;
  mix-blend-mode: difference;
  color: var(--clr-yellow);
  overflow: hidden;
  z-index: -5;
}

/* Trending grid */

.trending-header {
  color: var(--clr-white);
  margin: 1.5em 0 0.4em 0.4em;
  width: 15em;
}

.trending-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 200px;
}

.post-container {
  max-width: 76em;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

.post-container:nth-child(even) .post-image {
  order: 2;
}

.post-container:nth-child(even) .post-content {
  order: 1;
}

.post-image {
  height: 500px;
  width: 48em;
  object-fit: cover;
}

.post-image-container {
  position: relative;
  color: var(--clr-black);
}

.post-content {
  background-color: var(--clr-white);
  height: 500px;
  width: 100%;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-header {
  font-size: 2rem;
  width: 12em;
  margin-bottom: 60px;
}

.post-excerpt {
  margin-bottom: 70px;
  width: 22em;
}

.post-link {
  font-weight: var(--fw-bold);
  color: var(--clr-black);
}

.post-link:hover {
  color: var(--clr-blue);
}

.post-bot-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.post-date {
  font-weight: var(--fw-bold);
}

.post-tag {
  padding: 0.7rem 1.3rem;
  position: absolute;
  top: 0;
  right: 0; 
}

/* Footer */

footer {
  background-color: var(--clr-grey);
  height: 30em;
}

.footer-content {
  max-width: 74em;
  margin: auto;
  padding-top: 3em;
}

.newsletter,
.social-flex,
.footer-nav,
.footer-nav ul {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}

.news-sub p,
.social-flex,
.sub-one {
  color: var(--clr-white);
}

.sub-one {
  font-size: 2.25rem;
  margin-bottom: 0.2em;
  font-weight: var(--fw-bold);
}

.sub-two,
.brand {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.news-input {
  width: 26.25rem;
  height: 4.625rem;
  font-size: 1.4rem;
  padding-left: 10px;
  margin-bottom: 20px;
}

.news-button {
  width: 11rem;
  height: 4.625rem;
  background-color: var(--clr-green);
  color: var(--clr-black);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.news-button:hover {
  background-color: var(--clr-greenhover);
}

.footer-social i {
  margin-right: 1em;
}

.footer-nav ul {
  gap: 1em;
  padding: 0;
}

.footer-link,
.author {
  color: var(--clr-white);
}

.footer-nav,
.newsletter {
  align-items: center;
}

.newsletter-error {
  color: var(--clr-error);
  display: none;
}

.newsletter-success {
  color: var(--clr-success);
  display: none;
}
/* Footer Media Queries */

@media (max-width: 81em){

  .footer-content {
    max-width: 62em;
  }

  .sub-one {
    font-size: 1.75rem;
  }
  
  .sub-two,
  .brand {
    font-size: 1.3rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 24.25rem;
    height: 4.2rem;
    font-size: 1rem;
  }

  .news-button {
    height: 4.2rem;
    font-size: 1rem;
    width: 9rem;
  }

}

@media (max-width: 65.625em){

    .footer-content {
      max-width: 40em;
    }

    .newsletter {
      flex-direction: column;
    }

    .news-input {
      width: 24.25rem;
      height: 4.2rem;
      font-size: 1rem;
    }
  
    .news-button {
      height: 4.2rem;
      font-size: 1rem;
      width: 9rem;
    }
}

@media (max-width: 42em){

  .footer-content {
    max-width: 30em;
    padding-top: 2.5em;
  }

  .sub-one {
    font-size: 1.5rem;
  }
  
  .sub-two,
  .brand {
    font-size: 1.1rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 18rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .news-button {
    height: 3.5rem;
    font-size: 1rem;
    width: 7rem;
  }

}

@media (max-width: 31.25em){

  .footer-content {
    max-width: 20em;
  }

  .sub-one {
    font-size: 1.2rem;
  }
  
  .sub-two,
  .brand {
    font-size: 0.9rem;
    margin-bottom: 1em;
  }

  .news-input {
    width: 12rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .news-button {
    height: 3.5rem;
    font-size: 1rem;
    width: 7rem;
  }

  .social-flex {
    width: 18em;
    justify-content: center;
    margin: auto;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav ul {
    gap: 2.5em;
    margin: 1.3em 0 2.5em;
  }
}

/* Contact Page */

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  margin: auto;
  margin-top: 8em;
}

.contact-header p {
  color: var(--clr-white);
}

/* Article Page */

.article-section,
.article-section-flex {
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
}

.article-section-flex {
  display: flex;
  justify-content: center;
}

.article-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 37.5rem;
  gap: 30px;
  row-gap: 30px;
  margin: 50px 0;
}

.article-container {
  display: flex;
  flex-direction: column;
  height: 37.5rem;
}

.article-image-container {
  position: relative;
  color: var(--clr-black)
}

.article-image {
  height: 18.75rem;
  width: 100%;
  object-fit: cover;
}

.article-content {
  background-color: var(--clr-grey);
  color: var(--clr-white);
  height: 18.75rem;
  width: 100%;
  padding: 1.5rem 4rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-header {
  font-size: 2rem;
  max-width: 16em;
  margin-bottom: 30px;
}

.article-excerpt {
  margin-bottom: 40px;
  max-width: 26em;
}

.article-link {
  cursor: pointer;
  color: var(--clr-white);
}

.article-link:hover {
  color: var(--clr-yellow);
}


.article-bot-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.show-more-btn {
  margin: 0 auto 80px;
  padding: 20px 50px;
  font-size: 1.1rem;
  background-color: var(--clr-grey);
  color: var(--clr-white);
  border: var(--clr-yellow) 1px solid;
  cursor: pointer;
  display: flex;
}

.filter-btn {
  padding: 10px 50px;
  margin-right: 12px;
  border: none;
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.synths-btn {
  background-color: var(--clr-pink);
}

.synths-btn:hover {
  background-color: var(--clr-pinkhover);
}

.news-btn {
  background-color: var(--clr-green);
}

.news-btn:hover {
  background-color: var(--clr-greenhover);
}

.device-btn {
  background-color: var(--clr-blue);
}

.device-btn:hover {
  background-color: var(--clr-bluehover);
}

.filter-container {
  max-width: 76em;
  margin: auto;
}

.filter-header {
  color: var(--clr-white);
  margin: 40px 0 10px;
}

/* Post Page */

.post-specific-container,
.post-specific-header,
.about-container {
  max-width: 78em;
  margin: auto;
  display: flex;
}

.post-specific-container {
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;;
}

.post-specific-header {
  flex-direction: row;
  justify-content: space-between;
  width: 72rem;
  margin: 10px 0 10px;
  align-items: baseline;
}


.article-tag {
  width: 6em;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  margin-bottom: 15px;
  align-self: baseline;
}

.article-date {
  color: var(--clr-white);
  font-size: 1rem;
}

.post-specific-image,
.post-image-two,
.post-text-one,
.post-text-two {
  width: 38em;
  height: 542px;
}

.post-image-two {
  margin-bottom: 150px;
}

.article-flex-one {
  display: flex;
}

.post-text-one,
.post-text-two {
  color: var(--clr-white);
  padding: 3rem 3rem;
  background-color: var(--clr-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.post-specific-image,
.post-image-two {
  cursor: pointer;
  object-fit: cover;
}

.post-text-one p:first-child {
  color: var(--clr-yellow);
  font-size: 1.2rem;
}

.post-text-two p:first-child {
  color: var(--clr-pink);
  text-transform: uppercase;
  font-size: 1.5rem; 
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
  width: 620px;
  height: 620px;
  border-radius: 5px;
  position: relative;
}

.fa-times-circle {
  position: absolute;
  top: 50px;
  right: 50px;
  color: var(--clr-green);
  font-size: 24px;
  cursor: pointer;
}


/* About Page */

.about-container {
  flex-direction: column;
  gap: 3rem;
}

.about-flex-one,
.about-flex-two {
  display: flex;
}

.about-header {
  margin-bottom: 4rem;
}

.about-flex-one-p,
.about-flex-two-p {
  color: var(--clr-white);
  background-color: var(--clr-grey);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 400px;
  width: 38rem;
  padding: 3rem;
}

.about-color-p {
  color: var(--clr-yellow);
  font-size: 1.3rem;
}

.about-color-p-two {
  color:var(--clr-green);
  font-size: 1.5rem;
}

.about-color-p-three {
  /* background-color: var(--clr-grey); */
  font-size: 1.1rem;
  color: var(--clr-white);
  padding: 3rem 8rem;
  margin: 60px auto 100px;
  width: 60rem;
}

.three-big {
  color:var(--clr-pink);
  font-size: 1.7rem;
}

.about-svg {
  height: 400px;
  width: 38rem;
  position: relative;
}

.about-flex-one-svg {
  background-color: var(--clr-blue);
}

.about-flex-two-svg {
  background-color: var(--clr-pink);
}

.goose-svg {
  position: absolute;
  top: 15%;
  left: 23%;
  z-index: 100;
  color: #F1ABB9;
  height: 260px;
}

.synth-svg {
  height: 300px;
  width: 300px;
  top: 10%;
  left: 24%;
  z-index: 100;
  position: absolute;
  color: white;
}

/* Media queries */


@media (max-width: 87.5em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,.post-specific-container,
  .post-specific-header {
    max-width: 70em; 
  }

  /* Trending Section */

  .post-container {
    max-width: 70em;
  }

  /* Articles Page */ 

  .article-header {
    font-size: 1.9rem;
  }

}

@media (max-width: 80em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,
  .post-specific-container,
  .post-specific-header {
    max-width: 60em; 
  }

  h1 {
    font-size: 4.6rem;
  }

  .main-header p {
    font-size: 1.2rem;
  }

  /* Trending Section */

  .post-container {
    max-width: 60em;
  }

  /* Articles Page */ 

  .article-content {
    padding: 1.4em 3.5rem;
  }

  .article-header {
    font-size: 1.7rem;
  }

  /* Post Page*/ 

  .post-specific-image,
  .post-image-two {
    width: 30em;
  }

  .post-h1-article {
    font-size: 4rem;
  }

  .article-tag {
    font-size: 1.1rem;
  }

  .post-text-one,
  .post-text-two {
    font-size: .9rem;
  }

  .post-text-one p:first-child {
    font-size: 1.1rem;
  }
  
  .post-text-two p:first-child {
    font-size: 1.3rem; 
  }
}

@media (max-width: 67.5em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,
  .post-specific-container,
  .post-specific-header {
    max-width: 50em; 
  }

  h1 {
    font-size: 3.8rem;
  }

  .main-header p {
    font-size: 1rem;
    margin-right: 1em;
  }

  .header-circles {
    width: 7rem;
  }

  /* Trending Section */

  .post-container {
    max-width: 50em;
  }

  .post-image,
  .post-content {
    width: 25em;
  }

  .post-content {
    padding: 3.5em 3em;
  }

  .post-header {
    font-size: 1.7rem;
  }

  /* Articles Page */ 

  .article-content {
    padding: 1.2rem 2.5rem;
  }

  .article-header {
    font-size: 1.3rem;
  }

  .article-excerpt,
  .post-date,
  .article-link {
    font-size: .9rem;
  }

  .post-date {
    font-weight: var(--fw-regular);
  }

  .article-link {
    font-weight: var(--fw-bold);
  }

  /* Post Page*/ 

  .post-specific-image,
  .post-image-two {
    width: 25em;
  }

  .post-h1-article {
    font-size: 3.6rem;
  }

  .article-tag {
    font-size: 1.1rem;
  }

  .post-text-one,
  .post-text-two {
    font-size: .9rem;
  }

  .post-text-one p:first-child {
    font-size: 1.1rem;
  }
  
  .post-text-two p:first-child {
    font-size: 1.3rem; 
  }
}

@media (max-width: 57.5em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,
  .post-specific-header,
  .post-specific-container {
    max-width: 40em; 
  }

  .article-section {
    margin: 30px 0 70px 0;
  }

  h1 {
    font-size: 3.8rem;
  }

  .main-header p {
    font-size: 1rem;
    margin-right: 1em;
  }

  .header-circles {
    width: 7rem;
  }

  /* Trending Section */

  .post-container {
    max-width: 40em;
  }

  .post-image,
  .post-content {
    width: 20em;
  }

  .post-content {
    padding: 3.5em 2.8em;
  }

  .post-header {
    font-size: 1.6rem;
    width: 10em;
  }

  .post-excerpt {
    width: 14em;
  }

  /* Post Page */

  .article-flex-one,
  .article-flex-two {
    flex-direction: column;
    align-items: center;
    width: 40em;
  }

  .post-image-two {
    order: 2;
  }
  .post-text-two {
    order: 1;
  }

  .post-specific-header {
    flex-direction: column;
  }

  .post-specific-image,
  .post-image-two {
    width: 44em;
  }

  .post-text-one,
  .post-text-two {
    width: 44.446em;
    gap: 4rem;
  }
}

@media (max-width: 47.5em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,
  .post-specific-header,
  .post-specific-container {
    max-width: 30em; 
  }

  h1 {
    font-size: 3rem;
  }

  .main-header p {
    font-size: .9rem;
    margin: 0 0 0 0.3rem;
  }

  /* Trending Section */

  .post-container {
    width: 30em;
    display: flex;
    flex-direction: column;
  }

  .post-container:nth-child(even) .post-image {
    order: 1;
  }
  
  .post-container:nth-child(even) .post-content {
    order: 2;
  }

  .post-image,
  .post-content {
    width: 30em;
    height: 350px;
  }

  .post-content {
    padding: 2em 2.2em;
    height: 260px;
  }

  .post-header {
    font-size: 1.3rem;
    width: 16em;
    margin-bottom: 1.3em;
  }

  .post-excerpt {
    width: 22em;
    margin-bottom: 1.5em;
  }

  .post-bot-flex {
    margin-top: 1.3em;
  }

  .post-tag {
    top: 10;
    right: 0;
  }

  /* Articles Page */ 

  .article-section {
    grid-template-columns: 1fr;
  }

  .article-content {
    padding: 1.6rem 3rem;
  }

  .article-header {
    font-size: 1.7rem;
  }

  .article-excerpt,
  .post-date,
  .article-link {
    font-size: 1rem;
  }

  .filter-btn {
    padding: 10px 40px;
  }

  /* Post Page */

  .article-flex-one,
  .article-flex-two {
    width: 30em;
  }

  .post-image-two {
    order: 2;
  }
  .post-text-two {
    order: 1;
  }

  .post-specific-image,
  .post-image-two {
    width: 30em;
    height: 350px;
  }

  .post-text-one,
  .post-text-two {
    width: 33.336em;
  }
}

@media (max-width: 37em) {

  /* Header */

  .main-header,
  .filter-container,
  .article-section,
  .post-specific-header,
  .post-specific-container {
    max-width: 23em;
  }

  .main-header {
    flex-direction: column;
    align-items: start;
  }

  h1 {
    font-size: 3.4rem;
    margin-left: 0px;
  }

  .main-header p {
    font-size: 0.9rem;
  }

  .header-circles {
    width: 6.5rem;
    left: 72%;
  }

  .post-container,
  .post-content {
    max-width: 23em;
  }

  /* Articles Page*/
  
  .filter-container {
    max-width: 23em;
  }

  .filter-header {
    font-size: .9rem;
    margin: 45px 0 9px;
  }

  .filter-btn {
    padding: 8px 30px;
    font-size: .9rem;
  }

  .article-content {
    padding: 1.5rem 2.5rem;
  }

  .article-header {
    font-size: 1.4rem;
  }

  .article-excerpt {
    font-size: .9rem;
  }

  /* Post Page */

  .article-flex-one,
  .article-flex-two {
    width: 23em;
  }


  .post-specific-image,
  .post-image-two {
    width: 23em;
    height: 350px;
  }

  .post-text-one,
  .post-text-two {
    width: 25.556em;
    gap: 2rem;
  }

  .post-h1-article {
    font-size: 3.2rem;
    margin-bottom: 20px;
  }

  .article-tag {
    font-size: 1rem;
  }

  .post-text-one p:first-child {
    font-size: 1rem;
  }
  
  .post-text-two p:first-child {
    font-size: 1.2rem; 
  }

  .article-date {
    font-size: .9rem;
  }

  .modal-image {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 28em) {

    /* Header */

  .main-header,
  .filter-container,
  .article-section {
    max-width: 20em;
  }

  .post-specific-header,
  .post-specific-container,
  .article-flex-one,
  .article-flex-two {
    max-width: 19em;
  }

  .header-circles {
    width: 6.2rem;
    left: 70%;
  }

  /* Trending Section */

  .post-container,
  .post-content,
  .trending-container {
    max-width: 20em;
  }

  .trending-container {
    margin: 0 auto 200px;
  }

  .post-excerpt {
    font-size: 0.9rem;
    width: 16rem;
  }

  .post-header {
    font-size: 1.2rem;
    width: 17rem;
  }

  .post-date {
    font-size: 0.8rem;
  }

  /* Articles Page */

  .filter-btn {
    padding: 7px 20px;
    font-size: .8rem;
  }

  .post-date {
    font-size:.9rem;
  }

  /* Post Page */

  .post-h1-article {
    font-size: 2.8rem;
  }

  .article-tag {
    font-size: .8rem;
  }

  .post-specific-image,
  .post-image-two {
    width: 19em;
    height: 320px;
  }

  .post-text-one,
  .post-text-two {
    width: 21.112em;
    gap: 1.5rem;
  }

  .post-text-one p:first-child {
    font-size: .9rem;
  }
}


